*{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; // фикс проблемы жирного шрифта на macOS
    -webkit-appearance: none;// отмена дефолтной стилизации элементов форм на macOS
}

body{
    font-family: $f-regular;
    font-size: 18px;
    background-color: #ededed;
}

p{
    line-height: 1.5;
}

img{
    max-width: 100%;
}


.container{
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}



/*------    ------*/



/*------  Header  ------*/

.header{
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url('../images/logo.png');
    background-position: center center;
    background-repeat: no-repeat;


    &__container{
        padding: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
}


/* nav */

.nav{
    text-align: right;

    &__list{
        list-style:none;
        padding-left: 0;
    }
    &__item{
        position: relative;
    }

    &__link{
        padding: 5px;
        margin-bottom: 10px;
        display: inline-block;
        color: $red;
        font-size: 35px;
        text-decoration: none;
        font-weight: bold;
        position: relative;
        z-index: 10;
        padding-right: 0;
    }

    // &__link-symbol{
    //     transition: .2s all ease-in-out;
    //     display: inline-block;
    //     color: $red;


    //     &:hover{
    //         transform: scaleY(1.3);
    //     }
    // }
}


.contacts{
    text-align: right;

    &__list{
        list-style: none;
        padding-left: 0;
    }

    &__item{
        position: absolute;
        transform: translateY(0);
        top: 0;
        right: 0;
        transition: .8s transform, .4s opacity, .4s visibility;
        opacity: 0;
        visibility: hidden;
        z-index: 5;
    
        &.active{
            visibility: visible;
            opacity: 1;
            $margin_top: 45px;

            &:nth-child(1){transform: translateY($margin_top);}
            &:nth-child(2){transform: translateY($margin_top * 2);}
            &:nth-child(3){transform: translateY($margin_top * 3);}
        }
    }

    &__link{
        color:$red;
        font-size: 18px;
        padding: 10px;
        display: inline-block;
        text-decoration: none;
        position: relative;
        font-weight: bold;
        z-index: 3;
        padding-right: 0;
        opacity: 0.8;
        
        &:hover{
            text-decoration: underline;
        }
    }


}


/* logo */

.logo{}


/*------  end Header  ------*/


/*------  Presentation  ------*/

.presentation{
    &__img{
        width: 100%;
    }
}

/*------  end Presentation  ------*/



/*------  Parralax  ------*/

.parallax-block{
    height: 130px;
    max-height: 130px;
    overflow: hidden;
    background: transparent;
}

/*------  end Parralax  ------*/



/*------  Products  ------*/
.products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &__img{

    }
}
/*------  end Products  ------*/


/*------  Footer  ------*/

.footer{
    &__img{
        width: 100%;
    }
}

/*------  end Footer  ------*/