@font-face {
    font-family:'Littera Plain Bold';
    src: url('../fonts/LitteraPlainBold.eot');
	src: url('../fonts/LitteraPlainBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LitteraPlainBold.woff2') format('woff2'),
		url('../fonts/LitteraPlainBold.woff') format('woff'),
		url('../fonts/LitteraPlainBold.ttf') format('truetype'),
		url('../fonts/LitteraPlainBold.otf') format('opentype'),
		url('../fonts/LitteraPlainBold.svg#LitteraPlainBold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}


@font-face {
    font-family:'Littera Plain Book';
    src: url('LitteraPlainBook.eot');
	src: url('LitteraPlainBook.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LitteraPlainBook.woff2') format('woff2'),
		url('../fonts/LitteraPlainBook.woff') format('woff'),
		url('../fonts/LitteraPlainBook.ttf') format('truetype'),
		url('../fonts/LitteraPlainBook.otf') format('opentype'),
		url('../fonts/LitteraPlainBook.svg#LitteraPlainBook') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Littera Plain Light';
    src: url('../fonts/LitteraPlainLight.eot');
	src: url('../fonts/LitteraPlainLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LitteraPlainLight.woff2') format('woff2'),
		url('../fonts/LitteraPlainLight.woff') format('woff'),
		url('../fonts/LitteraPlainLight.ttf') format('truetype'),
		url('../fonts/LitteraPlainLight.otf') format('opentype'),
		url('../fonts/LitteraPlainLight.svg#LitteraPlainLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Littera Plain Regular';
    src: url('../fonts/LitteraPlainRegular.eot');
	src: url('../fonts/LitteraPlainRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LitteraPlainRegular.woff2') format('woff2'),
		url('../fonts/LitteraPlainRegular.woff') format('woff'),
		url('../fonts/LitteraPlainRegular.ttf') format('truetype'),
		url('../fonts/LitteraPlainRegular.otf') format('opentype'),
		url('../fonts/LitteraPlainRegular.svg#LitteraPlainRegular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}