@media only screen and (max-width: 1170px) {
    .products{
        justify-content: center;
    }
}


@media only screen and (max-width: 768px) {
    .header{
        background-image: url('../images/logo.png'),
                          url('../images/video-bg.jpg');
        background-repeat: no-repeat;
        background-size: 300px,
                         cover;
        background-position: center,
                             center top;

        &__video{display: none;}

    }





}