doctype html
html(lang="ru")
    //= partails/head.pug
    
    body
        //panel-menu
        .menu
            ul.menu__list
                li.menu__item
                    a.menu__link project

                li.menu__item
                    a.menu__link works                