doctype html
html(lang="ru")
    //= partails/head.pug
    
    body

        //header
        header.header
            .header__container.container

                //logo
                .header__logo.logo
                    img.logo__img(src="images/logo-sign.png", alt="Логотип")
                
                //nav
                nav.header__nav.nav
                    ul.nav__list
                        li.nav__item
                            a.nav__link(href="/works") PRoJECTS

                        li.nav__item.contacts
                            a.nav__link.nav__link--contact(href="#") CONTaCTS
                            ul.contacts__list
                                li.contacts__item
                                    a.contacts__link(href="mailto:sashakarabac@ya.ru") sashakarabac@ya.ru
                                li.contacts__item
                                    a.contacts__link(href="http://vk.com/akarnauskas", target="_blank") vk.com/akarnauskas
                                li.contacts__item
                                    a.contacts__link(href="http://telegram.me/Karnauska", target="_blank") @Karnauskas

            //video-bg
            video.video.header__video(loop muted autoplay poster="images/video-bg.jpg")
                source(src="images/video-bg.mp4" type="video/mp4")
                source(src="video/video-bg.webm" type="video/webm")          


        //end header


        //parallax
        div(class="parallax-block" data-parallax="scroll" data-image-src="/images/parralax-bg.jpg")
        //end paralax


        //presentation
        .presentation
            img.presentation__img(src="/images/bg-presentation.jpg")
            
        //end presentation


        //parallax
        div(class="parallax-block" data-parallax="scroll" data-image-src="/images/parralax-bg.jpg")
        //end parallax


        //products
        .products
            img.products__img(src="/images/pillow.jpg", alt="")
            img.products__img(src="/images/notebook.jpg", alt="")
        //end products

        
        //parallax
        div(class="parallax-block" data-parallax="scroll" data-image-src="/images/parralax-bg.jpg")
        //end parallax


        //footer
        .footer
            img.footer__img(src="images/bg-footer.jpg", alt="")
        //end footer


        //scripts
        script(src="js/main.js")
    